--extra-index-url https://download.pytorch.org/whl/cpu
streamlit
langchain-community
langchain-core
langchain-classic
langchain-google-genai
langchain-chroma
langchain-huggingface
pypdf
sentence-transformers
beautifulsoup4
